{% extends "base.j2" %}

{% set pagetitle = "%s - 文章" % article.name %}
{% set pagetype = "articles" %}

{% block content %}
  <style type="text/css" xmlns:style="http://www.w3.org/1999/xhtml">.small{font-size: 0.7em;}</style>
  <div class="padding">
    <h1>{{ article.name }}</h1>
    <p style="margin-bottom: -5px; ">
      <img style="vertical-align: middle; margin-bottom: 2px; margin-right: 2px; " src="/static/img/avatar.png" width="17" height="17">
      <b style="margin-right: 30px; ">Tsukimaru</b>
      <b style="margin-right: 30px; "><i class="calendar icon"></i>{{ article.date }}</b>
      <b style="margin-right: 30px; "><i class="edit icon"></i>{{ article.upddate }}</b>
    </p>
    
    <div class="ui existing segment">
      <div id="content" class="font-content">
        <div style="position: relative; overflow: hidden; ">
          {{ article.text }}
        </div>
      </div>
    </div>
  </div>

  {% include "comment.j2" %}
{% endblock content %}