{% extends "base.j2" %}

{% set pagetitle = "反馈板" %}

{% block content %}
  <div class="ui center aligned grid">
    <div class="row">
      <h1 class="ui header">反馈板</h1>
    </div>
  </div>

  {{ text }}

  {% include "comment.j2" %}
{% endblock content %}