<div class="ui vertical footer segment" style="margin-top: 15px; ">
  <div class="ui center aligned container">
    <span style="color: #999;">
      Theme Based on <a href="https://loj.ac" target="_blank">LibreOJ</a>. <br />
      Last build: {{ BUILD_TIME }}.
    </span>
  </div>
</div>