{% macro parsetags(tags) %}
  {% for x in tags %}
    {{ x.parse() }}
  {% endfor %}
{% endmacro %}

{% macro pagination(n, tot, baseurl) %}
  {% if tot > 1 %}
    <div style="margin-bottom: 30px; ">
      <div style="text-align: center; ">
        <div class="ui pagination menu" style="box-shadow: none; ">
          {% if n > tot - 7 %}
            {% set l = tot - 14 %}
          {% else %}
            {% set l = n - 7 %}
          {% endif %}
          {% if l < 2 %}
            {% set l = 2 %}
          {% endif %}

          {% if n < 9 %}
            {% set r = 15 %}
          {% else %}
            {% set r = n + 6 %}
          {% endif %}
          {% if r >= tot %}
            {% set r = tot - 1 %}
          {% endif %}

          {% if n == 1 %}
            <a class="disabled icon item" id="page_prev">
              <i class="left chevron icon"></i>
            </a>
            <a class="active item" href="/{{ baseurl }}/1">1</a>
          {% else %}
            <a class="icon item" href="/{{ baseurl }}/{{ n - 1 }}" id="page_prev">
              <i class="left chevron icon"></i>
            </a>
            <a class="item" href="/{{ baseurl }}/1">1</a>
          {% endif %}

          {% if l > 2 %}
            <div class="disabled item">...</div>
          {% endif %}

          {% for i in range(l, r + 1) %}
            {% if i == n %}
              <a class="active item" href="/{{ baseurl }}/{{ i }}">{{ i }}</a>
            {% else %}
              <a class="item" href="/{{ baseurl }}/{{ i }}">{{ i }}</a>
            {% endif %}
          {% endfor %}
          
          {% if n == tot %}
            <a class="active item" href="/{{ baseurl }}/{{ tot }}">{{ tot }}</a>
            <a class="disabled icon item" id="page_next">
              <i class="right chevron icon"></i>
            </a>
          {% else %}
            <a class="item" href="/{{ baseurl }}/{{ tot }}">{{ tot }}</a>
            <a class="icon item" href="/{{ baseurl }}/{{ n + 1 }}" id="page_next">
              <i class="right chevron icon"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}